{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Painel Admin — EI</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="admin-container">

    <aside class="sidebar">
        <h2 class="logo">Admin EI</h2>

        <ul class="menu">
            <li><a href="{% url 'home:admin_dashboard' %}">
                <i class="fa-solid fa-gauge"></i> Dashboard
            </a></li>

            <li><a href="{% url 'home:admin_users_list' %}">
                <i class="fa-solid fa-users"></i> Utilizadores
            </a></li>

            <li><a href="{% url 'home:admin_turnos_list' %}">
                <i class="fa-solid fa-clock"></i> Turnos
            </a></li>

            <li><a href="{% url 'home:admin_horarios_list' %}">
                <i class="fa-regular fa-calendar"></i> Horários
            </a></li>
        </ul>
    </aside>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>
