{% extends "../home/base.html" %}

{% block content %}
<h1>{{ horario|default:"Novo Horário" }}</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Nome:</label>
    <input type="text" name="nome" value="{{ horario.nome|default:'' }}">

    <label>Ficheiro PDF:</label>
    {% if horario %}
        <p>Ficheiro atual: <a href="{{ horario.ficheiro.url }}">Ver PDF</a></p>
    {% endif %}
    <input type="file" name="ficheiro" accept="application/pdf">

    <button type="submit" class="btn-create">Guardar</button>
</form>
{% endblock %}
