{% extends "admin/base_admin.html" %}

{% block content %}
<h1>Logs</h1>

<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Utilizador</th>
            <th>Operação</th>
            <th>Entidade</th>
            <th>Chave</th>
            <th>Detalhes</th>
        </tr>
    </thead>

    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.id_log }}</td>
            <td>{{ log.data_hora|date:"d/m/Y H:i" }}</td>
            <td>{{ log.utilizador_db }}</td>
            <td>{{ log.operacao }}</td>
            <td>{{ log.entidade }}</td>
            <td>{{ log.chave_primaria }}</td>
            <td>{{ log.detalhes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
