{% extends "../home/base.html" %}

{% block content %}
<h1>Gerir Utilizadores</h1>

<a href="{% url 'home:admin_users_create' %}" class="btn-create">+ Novo Utilizador</a>

<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>

            <td>
                <a href="{% url 'home:admin_users_edit' u.id %}" class="edit-btn">
                    <i class="fa-regular fa-pen-to-square"></i> Editar
                </a>
                <a href="{% url 'home:admin_users_delete' u.id %}" class="delete-btn" onclick="return confirm('Apagar?');">
                    <i class="fa-solid fa-trash"></i> Apagar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
