{% extends "admin/base_admin.html" %}

{% block content %}

<h1>{{ titulo }}</h1>
<p class="subtitulo">Lista de {{ titulo|lower }}</p>

<table class="tabela-users">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
        </tr>
    </thead>

    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nome }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.tipo }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum utilizador encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
