.page-container {
    padding: 25px;
    max-width: 900px;
    margin: auto;
}

.page-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 18px;
    margin-bottom: 20px;
    color: #444;
}

.info-block {
    margin-bottom: 35px;
}

.info-block h2 {
    font-size: 22px;
    color: #004488;
    margin-bottom: 10px;
}

.info-block p {
    margin: 5px 0;
}

.info-block a {
    color: #0055aa;
}
