.page-container {
    padding: 25px;
    max-width: 900px;
    margin: 0 auto;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 18px;
    color: #444;
    margin-bottom: 25px;
}

.year-block {
    margin: 40px 0;
}

.year-block h2 {
    font-size: 26px;
    color: #003366;
    margin-bottom: 15px;
}

.semester {
    margin-bottom: 25px;
}

.semester h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #005599;
}

.semester ul {
    padding-left: 20px;
}

.semester ul li {
    margin-bottom: 5px;
}
