<ul class="menu">

    <li class="menu__item {% if request.resolver_match.url_name == 'index_di' %}is-active{% endif %}">
        <a href="{% url 'home:index_di' %}">
            <i class="fa-solid fa-house"></i> Home
        </a>
    </li>

    <li class="menu__item {% if request.resolver_match.url_name == 'recursos_di' %}is-active{% endif %}">
        <a href="{% url 'home:recursos_di' %}">
            <i class="fa-solid fa-folder-open"></i> Recursos
        </a>
    </li>

    <li class="menu__item {% if request.resolver_match.url_name == 'sobre_di' %}is-active{% endif %}">
        <a href="{% url 'home:sobre_di' %}">
            <i class="fa-solid fa-circle-info"></i> Sobre
        </a>
    </li>

    <li class="menu__item {% if request.resolver_match.url_name == 'contacto_di' %}is-active{% endif %}">
        <a href="{% url 'home:contacto_di' %}">
            <i class="fa-solid fa-envelope"></i> Contactos
        </a>
    </li>

</ul>
