<ul class="menu">

  <!-- DASHBOARD -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_dashboard' %}is-active{% endif %}">
    <a href="{% url 'home:admin_dashboard' %}">
      <i class="fa-solid fa-gauge"></i> Dashboard
    </a>
  </li>

  <!-- UTILIZADORES -->
  <li class="menu__item {% if 'admin_users' in request.resolver_match.url_name %}is-active{% endif %}">
    <a href="{% url 'home:admin_users_list' %}">
      <i class="fa-solid fa-users"></i> Utilizadores
    </a>
  </li>

  <!-- TURNOS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_turnos_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_turnos_list' %}">
      <i class="fa-solid fa-clock"></i> Turnos
    </a>
  </li>

  <!-- HORÁRIOS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_horarios_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_horarios_list' %}">
      <i class="fa-regular fa-calendar"></i> Horários
    </a>
  </li>

  <!-- AVALIAÇÕES -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_avaliacoes_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_avaliacoes_list' %}">
      <i class="fa-solid fa-file-lines"></i> Avaliações
    </a>
  </li>

  <!-- UCs -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_uc_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_uc_list' %}">
      <i class="fa-solid fa-graduation-cap"></i> UC
    </a>
  </li>

  <!-- DAPE -->
  <li class="menu__item {% if 'admin_dape' in request.resolver_match.url_name %}is-active{% endif %}">
    <a href="{% url 'home:admin_dape_list' %}">
      <i class="fa-solid fa-briefcase"></i> Propostas DAPE
    </a>
  </li>

  <!-- ANALYTICS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'analytics_inscricoes' %}is-active{% endif %}">
    <a href="{% url 'home:analytics_inscricoes' %}">
      <i class="fa-solid fa-chart-line"></i> Analytics
    </a>
  </li>

  <!-- LOGS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_logs_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_logs_list' %}">
      <i class="fa-solid fa-clipboard-list"></i> Logs
    </a>
  </li>

  <!-- EXPORTAR DADOS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_export_data' %}is-active{% endif %}">
    <a href="{% url 'home:admin_export_data' %}">
      <i class="fa-solid fa-download"></i> Exportar Dados
    </a>
  </li>

</ul>
