<ul class="menu">

  <!-- DASHBOARD -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_dashboard' %}is-active{% endif %}">
    <a href="{% url 'home:admin_dashboard' %}">
      <i class="fa-solid fa-gauge"></i> Dashboard
    </a>
  </li>

  <!-- UTILIZADORES (COM SUBMENU) -->
  <li class="menu__item menu-item
      {% if request.resolver_match.url_name in 'admin_users_list admin_users_docentes admin_users_alunos' %}
        open
      {% endif %}
  ">

    <button class="submenu-btn">
      <i class="fa-solid fa-users"></i>
      <span>Utilizadores</span>
      <i class="fa-solid fa-chevron-down arrow"></i>
    </button>

    <ul class="submenu">

      <li>
        <a href="{% url 'home:admin_users_list' %}"
           class="{% if request.resolver_match.url_name == 'admin_users_list' %}active-sub{% endif %}">
          Todos
        </a>
      </li>

      <li>
        <a href="{% url 'home:admin_users_docentes' %}"
           class="{% if request.resolver_match.url_name == 'admin_users_docentes' %}active-sub{% endif %}">
          Docentes
        </a>
      </li>

      <li>
        <a href="{% url 'home:admin_users_alunos' %}"
           class="{% if request.resolver_match.url_name == 'admin_users_alunos' %}active-sub{% endif %}">
          Alunos
        </a>
      </li>

    </ul>
  </li>

  <!-- TURNOS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_turnos_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_turnos_list' %}">
      <i class="fa-solid fa-clock"></i> Turnos
    </a>
  </li>

  <!-- HORÁRIOS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_horarios_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_horarios_list' %}">
      <i class="fa-regular fa-calendar"></i> Horários
    </a>
  </li>

  <!-- AVALIAÇÕES -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_avaliacoes_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_avaliacoes_list' %}">
      <i class="fa-solid fa-file-lines"></i> Avaliações
    </a>
  </li>

  <!-- UCs -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_uc_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_uc_list' %}">
      <i class="fa-solid fa-graduation-cap"></i> UC
    </a>
  </li>

  <!-- ANALYTICS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'analytics_inscricoes' %}is-active{% endif %}">
    <a href="{% url 'home:analytics_inscricoes' %}">
      <i class="fa-solid fa-chart-line"></i> Analytics
    </a>
  </li>

  <!-- LOGS -->
  <li class="menu__item {% if request.resolver_match.url_name == 'admin_logs_list' %}is-active{% endif %}">
    <a href="{% url 'home:admin_logs_list' %}">
      <i class="fa-solid fa-clipboard-list"></i> Logs
    </a>
  </li>

</ul>
