.page-container {
    padding: 25px;
    max-width: 900px;
    margin: auto;
}

.page-title {
    font-size: 32px;
}

.intro-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.info-block ul {
    padding-left: 20px;
}

.info-block li {
    margin: 6px 0;
}
