{% extends "admin/base_admin.html" %}
{% load static %}

{% block content %}
<h1 class="admin-title">Mestrado EISI — Gestão de Conteúdos</h1>

<p class="admin-subtitle">
    Selecione a secção que pretende editar.
</p>

<div class="admin-cards">

    <a href="{% url 'home:admin_eisi_ingresso' %}" class="card">
        <i class="fa-solid fa-door-open"></i>
        <p>Ingresso</p>
    </a>

    <a href="{% url 'home:admin_eisi_destinatarios' %}" class="card">
        <i class="fa-solid fa-users"></i>
        <p>Destinatários</p>
    </a>

    <a href="{% url 'home:admin_eisi_plano' %}" class="card">
        <i class="fa-solid fa-list-check"></i>
        <p>Plano Curricular</p>
    </a>

    <a href="{% url 'home:admin_eisi_horarios' %}" class="card">
        <i class="fa-regular fa-calendar"></i>
        <p>Horários</p>
    </a>

    <a href="{% url 'home:admin_eisi_avaliacoes' %}" class="card">
        <i class="fa-solid fa-clipboard-check"></i>
        <p>Avaliações</p>
    </a>

    <a href="{% url 'home:admin_eisi_testemunhos' %}" class="card">
        <i class="fa-solid fa-comments"></i>
        <p>Testemunhos</p>
    </a>

    <a href="{% url 'home:admin_eisi_contactos' %}" class="card">
        <i class="fa-solid fa-address-book"></i>
        <p>Contactos</p>
    </a>
</div>
{% endblock %}
