.page-container {
    padding: 25px;
    max-width: 900px;
    margin: auto;
}

.page-title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 18px;
    margin-bottom: 25px;
    color: #444;
}

.info-block {
    margin: 35px 0;
}

.info-block h2 {
    font-size: 24px;
    color: #0057b8;
    margin-bottom: 10px;
}

.info-block ul {
    padding-left: 20px;
}

.info-block ul li {
    margin-bottom: 6px;
    line-height: 1.5;
}
