{% extends "home/base.html" %}
{% load static %}

{% block content %}
<section class="horarios-hero">
  <h1>Horários — Engenharia Informática</h1>
  <p>Consulta aqui o horário oficial publicado pela coordenação.</p>
</section>

{% if pdf %}
  <a href="{{ pdf.ficheiro.url }}" class="download-btn" download>📥 Descarregar PDF</a>

  <div class="pdf-container">
      <iframe src="{{ pdf.ficheiro.url }}" width="100%" height="100%"></iframe>
  </div>
{% else %}
  <p>Nenhum horário disponível.</p>
{% endif %}

{% endblock %}
