{% extends 'base.html' %}

{% block sidebar %}
<div class="menu-header">Escolhe o teu horário</div>
<ul class="menu-list">
    <li><a href="#">1º Ano</a></li>
    <li><a href="#">2º Ano</a></li>
    <li><a href="#">3º Ano</a></li>
    <li><a href="#">Mestrado</a></li>
    <li><a href="#">Docentes</a></li>
</ul>
{% endblock %}

{% block content %}
    <h1>Bem-vindo aos Horários de Engenharia Informática</h1>
    <p>Consulta e seleciona a opção na barra lateral para aceder ao horário pretendido.</p>
{% endblock %}
