.sugestoes-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 0.5rem 0;
  white-space: nowrap;
}

.sugestao-card {
  min-width: 260px;
  flex: 0 0 auto;
}
.like-btn.active-like {
  background-color: #4caf50;
  color: white;
}

.dislike-btn.active-dislike {
  background-color: #f44336;
  color: white;
}